// Bar
.bar {
	background-color: $black;
	border-radius: 10px;
	color: $pink;
}

// PowerMenu
.rofi {
	margin: $topmargin;
}
.rofi:hover {
	color: $white;
}
.power-button {
	margin: $margin;
}
.power-button:hover {
	color: $red;
}
.reboot-button {
	margin: $margin;
}
.reboot-button:hover {
	color: $green;
}

// Workspaces
.workspace-entry {
	border-radius: 5px;
	margin: 5px 10px;
}
.workspace-entry:hover {
	background-color: $white;
}
.empty {
	background-color: $gray;
}
.occupied {
	background-color: $white;
}
.current {
	background-color: $pink;
	padding: 5px 0;
}

// Volume
.label-vol {
	margin: $margin;
}
.label-vol:hover {
	color: $purple;
}

// Time
.time {
	margin: $bottommargin;
}
.time:hover {
	color: $blue;
}

// Calendar
.cal {
  background-color: $black;
  color: $pink;
}
.cal:selected {
  background-color: $pink;
  color: $black;
}
.cal.header {
	color: $blue;
}
.cal.button {
	color: $purple;
}
.cal.highlight {
	color: $purple;
}
.cal:indeterminate {
	color: $gray;
}
